*{
    margin: 0;
    padding: 0;
}
.main_body{
    padding-left: 50px;
    width: 100%;
}
.main_center{
    width: 1600px;
    margin: 0 auto;
}
.main_center>div{
    margin-bottom: 30px;
}
.focus_box{
    width: 100%;
    height: 500px;
}
.focus_box>div{
    float: left;
    width: 380px;
    height: 245px;
    padding-left: 20px;
}
.focus_box img{
    width: 100%;
    height: 100%;
}
.focus_box>div:first-child{
    width: 800px;
    height: 100%;
    padding-left: 0;
}
.focus_box>div:nth-child(4),.focus_box>div:nth-child(5){
    margin-top: 10px;
}
.vg_title{
    width: 100%;
}
.vg_title h2{
    font-size: 30px;
}
.news_list{
    width: 100%;
    overflow: hidden;
}
.new_list>div{
    position: relative;
    float: left;
}
.topic_list_first{
    width: 35.5%;
    position: relative;
    float: left;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15), 0px 2px 4px 0px rgba(0,0,0,0.10);
}
.news_list img{
    width: 100%;
    height: 100%;
}
.topic_list_first>.info_box{
    width: 100%;
    height: 153px;
    padding: 15px 10px 0 10px;
    background: url(https://www.vgtime.com/resources/img/FAFAFA_bg.png) bottom left repeat-x;
    z-index: 5;
    position: absolute;
    bottom: 0;
}
.info_box>a{
    text-decoration: none;
    color: #000;
}
.info_box h2{
    font-size: 18px;
    line-height: 28px;
    max-height: 56px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: hidden;
}
.fot_box{
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    color: #9497a0;
    font-size: 12px;
}
.topic_list_big{
    width: 20%;
    margin-left: 1.5%;
    float: left;
    position: relative;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15), 0px 2px 4px 0px rgba(0,0,0,0.10);
}
.topic_list_big>.img_box{
    width: 100%;
    height: 200px;
}
.topic_list_big>.info_box{
    width: 100%;
    height: 153px;
    padding: 15px 10px 0 10px;
    background: white;
}
.news_list_normal_list{
    float: left;
    width: 100%;
}
.news_list_normal{
    width: 485px;
    height: 124px;
    float: left;
    padding: 10px 10px 10px 20px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15), 0px 2px 4px 0px rgba(0,0,0,0.10);
    border: 1px solid rgba(165,170,184,0.10);
    background: #fff;
    margin-top: 20px;
    position: relative;
    margin-left: 45px;
}
.news_list_normal img{
    width: 100%;
    height: 100%;
}
.news_list_normal>.img_box{
    width: 164px;
    height: 102px;
    float: right;
}
.news_list_normal>.info_box h2{
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    height: 44px;
}
.news_list_normal>.info_box .fot_box{
    width: 100%;
    height: 20px;
    line-height: 20px;
    float: left;
    position: absolute;
    bottom: 0;
}
.topic_box{
    width: 1600px;
}
.topic_list{
    width: 100%;
    overflow: hidden;
}
.topic_list img{
    width: 100%;
    height: 100%;
}