*{
    margin:0;
    padding: 0;
}
.head_box{
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.head_box header{
    width: 1600px;
    margin:0 auto;
    height: 81px;
    box-shadow: 1px 1px 1px 2px gray;
}
.vg_head_message{
    width: 1412px;
    height: 32px;
    background-color: black;
    float: left;
}
.vg_logo{
    width: 188px;
    height: 80px;
    float: left;
background: url("https://www.vgtime.com/resources/img/logo_bg.svg");
}
.vg_sear{
    width: 1412px;
    height: 48px;
    background-color: white;
    float: left;
}



.main_body{
    width: 100%;
    padding-left: 50px;
}
.vg_main{
    width: 1600px;
    padding-top: 84px;
    margin: 0 auto;
}
.main_left{
    position: fixed;
    top: 84px;
    width: 300px;
    height: calc(100%);
    height: -webkit-calc(100%);
    background-color: green;
}
.main_cent{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}
article{
    width: 100%;
}
.art_tit{
    font-size: 48px;
    line-height: 158%;
    margin-bottom: 30px;
}
.editor_name{
    margin-bottom: 20px;
    text-align: right;
    color: #999;
    font-size: 12px;
}
.color {
    color: #2abaca !important;
}
.abstract {
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
.abstract p {
    text-indent: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Kaiti SC","PingFang SC","Microsoft YaHei","微软雅黑","SimSun","宋体",Arial,"STHeiti","华文黑体",Helvetica,Tahoma,Arial sans-serif;
}
.fot_tool_box {
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    overflow: visible;
    margin-bottom: 5px;
}
.fot_tool_box div {
    float: right;
}
.fot_tool_box span {
    float: right;
}
.editor_box{
    float: left;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-family: "Songti SC","Hiragino Sans GB","Microsoft YaHei","PingFang SC","Microsoft YaHei","微软雅黑","SimSun","宋体",Arial,"STHeiti","华文黑体",Helvetica,Tahoma,Arial sans-serif;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15), 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
}
.user_box{
    width: 100%;
    margin: 0;
    height: 40px;
}
.user_img{
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.user_name{

}
.article_fot_box{
    margin-top: 30px;
    width: 100%;
    background-color: #f5f5f5;
}
.article_fot_con{
    width: 700px;
    height: 1000px;
    background-color: #1c7430;
    margin: 0 auto;
    position: relative;
    padding: 30px 0;
}
.vgtime_baidu {
    width: 100%;
    text-align: center;
    height: 310px;
}
.vg_comm_box {
    width: 100%;
}
.vg_tit{
}
.vg_tit h2 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    padding-left: 30px;
    float: left;
    height: 34px;
    line-height: 34px;
    margin-bottom: 20px;
}
.comment_list_tab{

}