*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
.user_nav{
    width: 50px;
    height: 10000px;
    position: fixed;
    padding-top: 80px;
}
.user_nav_content{
    width: 100%;
    height: 100%;
    background-color: #e8e8e8;
}
.user_nav_content>div{
    width: 50px;
    height: 50px;
    background-color: white;
    border-top: 1px gray solid;
    padding: 10px;
}
.user_nav_content>div a{
    color: black;
}
.user_nav_content>div a i{
    font-size: 30px;
}
.user_main{
    display: none;
    position: fixed;
    width: 400px;
    height: 10000px;
    left: 50px;
    background-color: white;
    border-right: 1px solid gray;
}
.user_main>div{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
#loginPanel{
}
.user_main h2{
    width: 100%;
    padding-top: 30px;
    margin-bottom: 35px;
    text-align: center;
    font-size: 20px;
    color: rgba(99,107,128,0.5);
    z-index: 2;
}
#login_phoneNumber{
    margin-top: 18px;
    margin-bottom: 18px;
}
#login_password{
    margin-top: 18px;
    margin-bottom: 18px;
}
#btnlogin{
    width: 100%;
    height: 48px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.forget_password{
    width: 100%;
    text-align: center;
}
#registerPanel{
    display: none;
}
#register_now{
    width: 100%;
    margin-top: 30px;
}
#btn_register{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
#login_now{
    width: 100%;
    margin-bottom: 30px;
}
#loginedPanel{
    display: none;
}
.head{
    width: 100%;
}
.head header{
    width: 1600px;
    margin: 0 auto;
    height: 82px;
    box-shadow: 1px 1px 1px 1px gray;
}
.head header>div{
    float: left;
}
.vg_logo{
    width: 188px;
    height: 80px;
}
.vg_logo img{
    width: 100%;
    height: 100%;
}
.vg_head_message{
    width: 1412px;
    height: 32px;
    background-color: black;
    font-size: 13px;
    color:#a5aab8;
}
.vg_head_nav{
    width: 1412px;
    height: 48px;
    background-color: white;
}
.vg_head_nav_list{
    list-style: none;
    margin-bottom: 0;
}
.vg_head_nav_list_item{
    width: 100px;
    height: 48px;
    float: left;
    border-right: 1px solid gray;
}
.vg_head_nav_list_item a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #aab2bd;
    text-align: center;
    line-height: 48px;
}
.main_body{
    width: 100%;
    padding-left: 50px;
}
.main_center{
    width: 700px;
    margin: 0 auto;
}
.article_title{
    font-size: 48px;
    line-height: 158%;
    margin-bottom: 30px;
}
.author_editor_time{
    width: 100%;
    height: 20px;
    margin-bottom: 20px;
    text-align: right;
    color: #999;
    font-size: 12px;
}
.author_editor_time span{
    color: #2abaca;
}
.resume{
    position: relative;
    padding: 20px;
    border-top: 1px solid rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 30px;
}
.resume p{
    text-indent: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
}
.topic_content{
    font-size: 16px;
    line-height: 28px;
}
.topic_content img{
    width: 100%;
}
.article_fot_box{
    background-color: #f5f5f5;
}
.article_fot_con{
    width: 700px;
    margin: 0 auto;
    min-height: 877px;
}
.vg_baidu{
    width: 100%;
    height: 310px;
}
.vg_comment_box{
    width: 100%;
}
.do_comment_box{
    width: 100%;
    padding: 18px;
    color: #3a3a48;
    margin-bottom: 15px;
    font-size: 14px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15), 0 2px 4px 0 rgba(0,0,0,0.1);
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
.comment_textarea{
    height: 74px;
}
.comment_textarea img{
    width: 5%;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
    float: left;
}
.comment_textarea input{
    width: 93%;
    height: 40px;
    float: left;
}
.comment_textarea button{
    float: right;
}
.comment_list{

}
.comment_list>li{
    transition: all 1s;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px 0 0 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 2px 4px 0 rgba(0,0,0,0.1);
    border-radius: 3px;
}
.comment_info{
    padding: 0 20px;
    width: 100%;
}
.comment_info_uimg{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
.comment_info_uname{
    font-size: 14px;
    line-height: 30px;
    color: #1d1d1d;
    font-weight: 800;
}
.comment_box{
    width: 100%;
    margin-top: 12px;
    padding: 0 20px;
}
.comment_operate{
    width: calc(100% - 40px);
    margin: 0 20px;
    padding: 0 0 16px;
}
.comment_operate span{
    color: #9497a0;
    font-size: 12px;
    line-height: 22px;
    height: 20px;
    margin: 0 10px;
}
.reply{
    color: #9497a0;
    font-size: 12px;
    line-height: 22px;
    float: right;
    height: 20px;
    margin: 0 10px;
}
.comment_reply_list{
    background: #fafafa;
    width: 100%;
    border-left: 3px #262626 solid;
    padding: 0;
    border-top: 1px rgba(0,0,0,0.1) solid;
}
.comment_reply_list li{
    width: 100%;
    padding: 20px 0 0;
    border-bottom: 1px solid black;
}