@font-face {
  font-family: "iconfont"; /* Project id 2676290 */
  src: url('iconfont.woff2?t=1626326149632') format('woff2'),
       url('iconfont.woff?t=1626326149632') format('woff'),
       url('iconfont.ttf?t=1626326149632') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconweixin:before {
  content: "\e615";
}

.iconzhihu:before {
  content: "\e69a";
}

.icondownload:before {
  content: "\e64d";
}

.iconbook:before {
  content: "\e600";
}

.iconweibo:before {
  content: "\ea8c";
}

